h1 {
  border: 4px solid black;
  background-color: red;
  padding: 10px;
}

p {
  background-color: blue;
  color: white;
  padding: 5px;
  border: 2px solid black;
}

code {
  background-color: white;
  color: black;
  padding: 2px;
  border: 1px solid black;
}

h2 {
  font-style: italic;
  color: green;
}

ol {
  background-color: pink;
  padding: 10px 0px 10px 40px; 
  margin-left: 20px;
}

li {
  color: grey;
  margin: 10px;
}
